

.main-image{
    height: 25em;
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 5px;
    float:right;
    box-shadow: 0 3px 6px black, 0 3px 6px rgb(41, 28, 28);
    
}


.container{
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    padding: 5px;
    max-width: 1500px;
    width: 100%;
    margin-right: 200px;
    
    

}
.content{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 1000px;
    max-width: max-content;
    box-shadow: 0 3px 6px black, 0 3px 6px rgb(41, 28, 28);
    border-radius: 15px;
    padding: 10px;
    height:max-content;
    margin:auto;
    margin-top: 8rem;
    z-index: 2;
    
}
@media(min-width:480px){
   
    .content{
        width: auto;
    }

}
@media(min-width:480px){
   
    .container{
        width: auto;
    }

}


.name{
    display:inline-block;
    width:400px;
    font-weight:500;
    text-transform: uppercase;
    margin-left: 1em;
}

.profesion{
    display:inline-block;
    font-weight:400;
    
}

.title1{
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 830px;
    width: 100%;
    box-shadow: 0 3px 6px black, 0 3px 6px rgb(41, 28, 28);
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    margin-top: 1em;
           
}

.texto-principal{
    font-size: 20px;
    width:960px;
    margin-right:auto;
    margin-left:30px;
    
}

.contenido-parrafo-idioma{
    float: right;
    margin-right: 5em;
    margin-top: -12em;
    line-height: 1.5;
}

.contenido-parrafo-datos{
    float: right;
    margin-right: 1.5em;
    margin-top: -10em;
    line-height: 1.5;
    font-size: 23px;
}
.titulos-texto{
    font-size:40px;
    font-weight:700px;
}

.subtitulos{
    font-weight:600px;
    font-size: 25px;
}

.contenido-parrafo{
    
    width:55%;
    vertical-align: top;
}

.contenido-parrafo-formacion{
    width:45%;
}
.contenido-parrafo-skills{
    float: right;
    margin-top: -25em;
    line-height: 1.5;
    
}

html{
    font-family: 'New Tegomin', serif;
}


    





